@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

      
a {
  text-decoration: none;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  
}

@media only screen and (max-width: 650px) {
  h1 {
    /* display:none; */
    font-size: 1.6rem;
    
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight:700;
}
span{
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
  font-weight:700;

}


#gameBoard {
  /* display: flex;
  flex-wrap: wrap; */
  width: min(100%,80vh, 500px);
  border: 15px solid #006532;
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px #767676;
}

.gameSquare {
  flex-basis: 33.3333333%;
}

/* .container{
      display: grid;
            place-items:  center;
} */
body{
  background-image: url("./background.jpg");
  background-color: #AC7229;
  color: black;
}

a{
  color: #111;
    font-weight:bold;
  text-decoration:underline;
}